@font-face { font-family: 'Amazon Ember'; font-style: normal; font-weight: 400; font-display: swap; src: url('./AmazonEmber-Regular.woff2') format('woff2'); }
@font-face { font-family: 'Amazon Ember'; font-style: normal; font-weight: 700; font-display: swap; src: url('./AmazonEmber-Bold.woff2') format('woff2'); }
