@font-face { font-family: 'Bookerly'; font-style: normal; font-weight: 400; font-display: swap; src: url('./Bookerly-Regular.woff2') format('woff2'); }
@font-face { font-family: 'Bookerly'; font-style: normal; font-weight: 700; font-display: swap; src: url('./Bookerly-Bold.woff2') format('woff2'); }
