@font-face { font-family: 'Quicksand'; font-style: normal; font-weight: 400; font-display: swap; src: url('./Quicksand-Regular.woff2') format('woff2'); }
@font-face { font-family: 'Quicksand'; font-style: normal; font-weight: 700; font-display: swap; src: url('./Quicksand-Bold.woff2') format('woff2'); }
@font-face { font-family: 'ZCOOL KuaiLe'; font-style: normal; font-weight: 400; font-display: swap; src: url('./ZCOOLKuaiLe-Regular.woff2') format('woff2'); }
