:root {
  --app-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--app-font-family);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #0f172a;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
